<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.hoffimar.android.memorytrainer" android:versionName="1.0.1" android:versionCode="2">
	<application android:label="@string/app_name"
		android:icon="@drawable/logo" android:debuggable="false">
		<activity android:name=".Overview" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="AboutActivity"></activity>
		<activity android:name="ListHundredActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="memorize-it" />
			</intent-filter>
		</activity>
		<activity android:name="GenerateNumberActivity"
			android:configChanges="keyboardHidden|orientation"></activity>
		<activity android:name="CheckLastNumberActivity"></activity>
	<activity android:name="StatisticsOverviewActivity"></activity>

<activity android:name="InformationActivity"></activity>
<activity android:name="TreeListActivity"></activity>
<activity android:name="TreeListGenerateActivity"></activity>
<activity android:name="TreeListVerifyActivity"></activity>
<activity android:name="MaintainListActivity"></activity>
<activity android:name="EditItemActivity"></activity>
</application>

	<uses-sdk android:minSdkVersion="4"></uses-sdk>

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	
	
	
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
</manifest> 